{% extends "report.html" %} 
            {% block views %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-line-chart fa-fw"></i> Hacker News Pickup Ratio
                            <div class="pull-right">
                                <div class="btn-group">
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-line-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
	    <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Hacker News Stories at <span id='table-left-time'></span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-left">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Points</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Hacker Newest Stories at <span id='table-right-time'></span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-right">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Points</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
	    {% endblock %}
            {% block script %}
            <script>
	    populate_graph_with_lines('/summary/1/50/ratio.json','morris-line-chart','ratio',function ( i, row ) {
	      populate_table_with_posts('/hnposts/'+row.offset+'/news.json','#table-left','#table-left-time');
	      populate_table_with_posts('/hnposts/'+row.offset+'/newest.json','#table-right','#table-right-time');  
	    });
            populate_table_with_posts('/hnposts/1/news.json','#table-left','#table-left-time');  
            populate_table_with_posts('/hnposts/1/newest.json','#table-right','#table-right-time');  
	    </script>
	    {% endblock %}
