<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Pawel Matykiewicz">

    <title>Hacker News Pickup Ratio and Rewind</title>

    <!-- Bootstrap Core CSS -->
    <link href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/libs/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="/libs/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet">
 
    <!-- Custom CSS -->
    <link href="/libs/sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/libs/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create','UA-26837634-1','auto');
    ga('send','pageview');
    function populate_table_with_posts ( url, table_id, table_time_id ) {
      $.getJSON(url).done(function(data){$(table_id).dataTable({
	    data: data,
	    destroy: true,
	    paging: false,
	    searching: false,
	    ordering: false,
	    info: false,
	    autoWidth: false,
	    fnRowCallback: function ( nRow, aData, iDisplayIndex, iDisplayIndexFull ) { if ( aData.compare == 1 ) { $(nRow).addClass('success'); } },
	    columns: [{"data":"rank"},{"data":"title"},{"data":"points"}],
	    columnDefs: [{
	    targets: 1,
	    render: function ( data, type, row, meta ) { return('<a href="'+row.url+'">'+data+'</a>'); }
	    },{
	    targets: 2,
	    render: function ( data, type, row, meta ) { return('<a href="https://news.ycombinator.com/item?id='+row.postid+'">'+data+'</a>'); }
	    }]
	    });
	  $(table_time_id).text(new Date(data[0].etime*1000).toString());
      });
    }
    function populate_graph_with_lines ( url, graph_id, click_callback ) {
      var days = ['Sun','Mon','Tue','Wed','Thur','Fri','Sat'];
      $.getJSON(url).done(function(data){
	  var fields = Object.keys(data[0]);
	  fields.splice(fields.indexOf('etime'),1);
	  fields.splice(fields.indexOf('offset'),1);
	  new Morris.Line({
	  resize: true,
	  hideHover: true,
          element: graph_id,
          data: data,
          xkey: 'etime',
          ykeys: fields,
          labels: fields,
          dateFormat: function (x) { return new Date(x*1000).toString(); },
	  xLabelFormat: function (x) { var d = new Date(x*1000); return days[d.getDay()]+' '+d.getHours()+':'+('0'+d.getMinutes()).slice(-2); },
	  goals: [0.0]
	  }).on('click',click_callback);
	  });
    }
    </script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="/report/three">Hacker News Pickup Ratio</a>
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
            </div>
            <!-- /.navbar-header -->
	    <!--
            <ul class="nav navbar-top-links navbar-right">
            </ul>
	    -->
            <!-- /.navbar-top-links -->
            <div class="collapse navbar-collapse navbar-default sidebar" role="navigation" id="bs-example-navbar-collapse-1">
                <div class="sidebar-nav">
                    <ul class="nav">
                        <li>
                            <a href="/report/three?line_values=news_pickup_ratio&table_values[]=news&table_values[]=newest"><i class="fa fa-dashboard fa-fw"></i> Hacker News Comparisons</a>
                        </li>
                        <li>
                            <a href="/report/one?line_values[]=news_summary&line_values[]=newest_summary"><i class="fa fa-line-chart fa-fw"></i> Hacker Summary Lines</a>
                        </li>
                        <li>
                            <a href="/report/two?line_values=news_summary&table_values=news"><i class="fa fa-table fa-fw"></i> Rewind News Table</a>
                        </li>
                        <li>
                            <a href="/report/two?line_values=newest_summary&table_values=newest"><i class="fa fa-table fa-fw"></i> Rewind Newest Table</a>
                        </li>
                        <li>
                            <a href="https://github.com/entaroadun/hnpickup_prod"><i class="fa fa-github-square fa-fw"></i> Github Project</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ report_name }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.rows -->
	    {% block views %}
	    {% endblock %}
            <!-- /.rows -->
	    <!-- /.row -->
	    <div class="row">
	      <div class="col-lg-12">
	        <div class="panel panel-info">
	          <div class="panel-heading">
	            Hacker News Pickup Ratio Documentation
	          </div>
	          <div class="panel-body">
	            <p>
		    Hacker News Pickup Ratio aims to understand web user behavior. It seems that Hacker News models some kind of closed system of people. There are three types of customers that come to Hacker News: <b>finders</b>, <b>adopters</b> and <b>viewers</b>. Finders search the Internet for interesting information to <i>post</i> it on Hacker News. They might write their own posts. Adopters look at the <i>newest</i> articles and up vote them if they judge them to be interesting. Viewers wait for finders and adopters to do the quality check for them. They do not want to be bothered by a random noise of the Internet. Viewers just wait for the articles at the front <i>news</i> page.
		    </p>
		    <p>
		    This creates an interesting dynamics that generalizes over variety of marketing problems in the worlds of commercial products. This is the main reason why we set up to study these cohorts of users. Every finder is like a product owner that hopes for a wide adoption. This cannot be achieved without aiming at people that are the most passionate about some narrow domain of life. They start evangelizing so the rest can listen and the product becomes profitable.
		    </p>
		    <p>
		    Knowing when is a good time to post on Hacker News is almost like knowing how to market a product. Hacker News simplifies this situation. All we need to know is how many adopters are currently reading the newest posts. But this statistics is hidden from us – like in the real world. We can only monitor the number of votes per newest post. There is also competition lurking. If too many people are posting then none of the posts will get a chance to be up voted by the adopters. But once a post gets to the front news page, then there is just smooth sailing ...
		    </p>
		    <p>
		    Please enjoy the variety of the Hacker News data. Maybe they will bring you comfort and illusion that you know more than you did before you came here. We are hoping to find something too.
		    </p>
	          </div>
	       </div>
	       <!-- /.col-lg-12 -->
	    </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/libs/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/libs/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/libs/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/libs/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/libs/datatables/js/dataTables.bootstrap.min.js"></script>
    
    <!-- Morris Charts JavaScript -->
    <script src="/libs/raphael/raphael.min.js"></script>
    <script src="/libs/morrisjs/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/libs/sb-admin-2/js/sb-admin-2.min.js"></script>

    <!-- Page-Level Scripts -->
    {% block script %}
    {% endblock %}

</body>

</html>
