{% extends "report.html" %} 
            {% block views %}
            <div class="row">
                <div class="col-lg-12">
		  {% include 'lines.html' with {'values':line_values[0]} %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
	    <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
		  {% include 'table.html' with {'page':table_values[0]} %}
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
		  {% include 'table.html' with {'page':table_values[1]} %}
                </div>
                <!-- /.col-lg-6 -->
            </div>
	    {% endblock %}
            {% block script %}
            <script>
	      {% include 'lines.js' with {'values':line_values[0]} %}
	      {% include 'table.js' with {'page':table_values[0]} %}
	      {% include 'table.js' with {'page':table_values[1]} %}
	    </script>
	    {% endblock %}
